/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&none  &kp Q       &kp W       &kp C        &kp P                    &kp B    &kp J  &kp L        &kp U            &kp Y                   &mt RC(BACKSPACE) BACKSPACE  &none
&none  &mt LGUI A  &mt LALT R  &mt LSHFT S  &mt LCTRL T              &kp G    &kp M  &mt RCTRL N  &mt RSHIFT E     &mt RALT I              &mt RGUI O                   &none
&none  &kp Z       &kp X       &kp F        &kp D                    &kp K    &kp V  &kp H        &mt COLON COMMA  &mt EXCLAMATION PERIOD  &mt QUESTION SLASH           &none
                               &kp ESC      &mt LS(LA(LCTRL)) SPACE  &to 0    &to 0  &mo 1        &kp ESC
            >;
        };

        symbol_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Symbol";
            bindings = <
&none  &mt LA(ESCAPE) ESCAPE  &kp AT      &kp HASH   &kp PRINTSCREEN  &kp PERCENT          &kp CARET           &kp AMPERSAND         &kp ASTERISK           &kp SEMICOLON      &trans     &none
&none  &mt LG(TAB) TAB        &kp UNDER   &kp GRAVE  &kp SQT          &kp DOUBLE_QUOTES    &mt HOME BACKSLASH  &kp LEFT_BRACE        &kp RIGHT_BRACE        &mt END PIPE       &kp ENTER  &none
&none  &kp TILDE              &kp DOLLAR  &kp EQUAL  &kp MINUS        &kp PLUS             &kp LEFT_BRACKET    &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &to 3      &none
                                          &trans     &trans           &trans               &trans              &to 2                 &trans
            >;
        };

        number_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Number";
            bindings = <
&none  &mt LA(ESCAPE) ESCAPE  &kp C_PLAY_PAUSE      &kp C_PREVIOUS        &kp C_NEXT       &kp UNDER     &kp MINUS  &kp N7  &kp N8  &kp N9  &trans     &none
&none  &mt LG(TAB) TAB        &kp C_MUTE            &kp C_VOLUME_DOWN     &kp C_VOLUME_UP  &kp PLUS      &kp EQUAL  &kp N4  &kp N5  &kp N6  &kp ENTER  &none
&none  &to 6                  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &kp ASTERISK     &kp PERIOD    &kp N0     &kp N1  &kp N2  &kp N3  &trans     &none
                                                    &to 5                 &trans           &trans        &trans     &trans  &to 4
            >;
        };

        navigation_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Navigation";
        };

        game_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Game";
        };

        function_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Function";
        };

        adjust_layer {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Adjust";
        };
    };
};
